<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CE MOOC</title>
</head>
<body>
    <header>
        <img>
        <a href="#">หน้าหลัก</a>
        <a href="#">เกี่ยวกับ</a>
        <a href="#">คอร์สทั้งหมด</a>
    </header>
    <div>
       <h1 align="center">About</h1>
    </div>
    <div>
        <h2>Contributors</h2>
        <table>
            <thead>
                <th>Back-End</th>
                <th></th>
                <th>Front-End</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>Pic</td>
                    <td>ปริชญ์ นาคเกตุ</td>
                    <td>Pic</td>
                    <td>วัชรินทร์ ดำทอง</td>
                </tr>
                <tr>
                    <td>Pic</td>
                    <td>ยงสุข ประเสริฐสุข</td>
                    <td>Pic</td>
                    <td>ปรเมศร์ เจียมบรรจง</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer align="center">
            <h5>This project made for 01076105_OOP @Computer Engineering KMITL</h5>
    </footer>
</body>
</html>