{% extends 'app_general/components/base.html' %}

{% block site_title %}เกี่ยวกับ | CE MOOC{% endblock %}

{% block content%}
    <div>
       <h1 align="center">About</h1>
    </div>
    <div>
        <h2>Contributors</h2>
        <table>
            <thead>
                <th>Back-End</th>
                <th></th>
                <th>Front-End</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>Pic</td>
                    <td>ปริชญ์ นาคเกตุ</td>
                    <td>Pic</td>
                    <td>วัชรินทร์ ดำทอง</td>
                </tr>
                <tr>
                    <td>Pic</td>
                    <td>ยงสุข ประเสริฐสุข</td>
                    <td>Pic</td>
                    <td>ปรเมศร์ เจียมบรรจง</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}